In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
%matplotlib inline

In [9]:
df=pd.read_csv('/home/eleanor/Desktop/static_data.csv')
df.head()

,animal_ID,treatment_odor,experiment_date,acclimate_start,experiment_start,sex,dead,starve_date,starve_time,species
0,190626-01-top,100ul_milliQ_water,190626,12:34:00 PM,12:51:00 PM,f,no,190625,09:09:00 AM,Aedes aegypti
1,190626-01-bottom,100ul_milliQ_water,190626,12:34:00 PM,12:51:00 PM,f,no,190625,09:09:00 AM,Aedes aegypti
2,190626-02-top,100ul_milliQ_water,190626,01:15:00 PM,01:31:00 PM,m,no,190625,09:09:00 AM,Aedes aegypti
3,190626-02-bottom,100ul_milliQ_water,190626,01:15:00 PM,01:31:00 PM,m,no,190625,09:09:00 AM,Aedes aegypti
4,190626-03-top,100ul_milliQ_water,190626,01:52:00 PM,02:08:00 PM,missing,no,190625,09:09:00 AM,Aedes aegypti

In [13]:
aegypti=df[ df["species"]=="Aedes aegypti"]

In [11]:
df.head()

,animal_ID,treatment_odor,experiment_date,acclimate_start,experiment_start,sex,dead,starve_date,starve_time,species
0,190626-01-top,100ul_milliQ_water,190626,12:34:00 PM,12:51:00 PM,f,no,190625,09:09:00 AM,Aedes aegypti
1,190626-01-bottom,100ul_milliQ_water,190626,12:34:00 PM,12:51:00 PM,f,no,190625,09:09:00 AM,Aedes aegypti
2,190626-02-top,100ul_milliQ_water,190626,01:15:00 PM,01:31:00 PM,m,no,190625,09:09:00 AM,Aedes aegypti
3,190626-02-bottom,100ul_milliQ_water,190626,01:15:00 PM,01:31:00 PM,m,no,190625,09:09:00 AM,Aedes aegypti
4,190626-03-top,100ul_milliQ_water,190626,01:52:00 PM,02:08:00 PM,missing,no,190625,09:09:00 AM,Aedes aegypti

In [14]:
len(df.index)
len(aegypti)

24

In [19]:
alive=aegypti[aegypti["dead"]!="yes"]
len(alive)

24

In [20]:
aegypti["treatment_odor"].unique()

array(['100ul_milliQ_water'], dtype=object)

In [27]:
albopictus=df[ df["species"]=="Aedes albopictus"]
alive=albopictus[albopictus["dead"]!="yes"]
print(len(alive))
print(len(albopictus))
albopictus["treatment_odor"].unique()

74
78

array(['100ul_milliQ_water', '100ul_quinine', '05_percent_food'], dtype=object)

In [34]:
for item in alive["treatment_odor"].unique():
    temp=alive[alive["treatment_odor"]==item]
    print(len(temp),item)

23 100ul_milliQ_water
27 100ul_quinine
24 05_percent_food

In [38]:
alive=albopictus[albopictus["dead"]=="no"]
for item in alive["treatment_odor"].unique():
    temp=alive[alive["treatment_odor"]==item]
    print(len(temp),item)

23 100ul_milliQ_water
18 100ul_quinine

# this code gives the number of confirmed alive and undead individuals for a treatment odor; you need to change the name in species=""

In [55]:
species="Aedes albopictus"

print("number of confirmed alive individuals",species)
animals=df[ df["species"]==species]
alive=animals[animals["dead"]=="no"]
for item in alive["treatment_odor"].unique():
    temp=alive[alive["treatment_odor"]==item]
    print(len(temp),item)
    
print("not dead",species)
notdead=animals[animals["dead"]!="yes"]
for item in notdead["treatment_odor"].unique():
    temp2=notdead[notdead["treatment_odor"]==item]
    print(len(temp2),item)

number of confirmed alive individuals Aedes albopictus
23 100ul_milliQ_water
18 100ul_quinine
not dead Aedes albopictus
23 100ul_milliQ_water
27 100ul_quinine
24 05_percent_food